<h1>Annotation</h1>
<p>
<strong>Url (@id):</strong>
<%= @annotation.url %>
</p>
<p>
<strong>Motivated By:</strong>
<%= @annotation.motivated_by %>
</p>

<strong>Type:</strong>
<%= @annotation.type %>
</p>

<pre>
<%= @annotation.graph.dump(:ttl) %>
</pre>

<%= link_to "Back", annotations_path %>
