<h1>Annotation</h1>
<p>
<strong>Url (@id):</strong>
<%= @annotation.url %>
</p>
<p>
<strong>Target:</strong>
<%= link_to @annotation.has_target, @annotation.has_target %>
</p>
<strong>Motivated By:</strong>
<%= link_to @annotation.motivated_by, @annotation.motivated_by %>
</p>

<strong>Type:</strong>
<%= link_to @annotation.type, @annotation.type %>
</p>

<pre>
<%= @annotation.graph.dump(:ttl) %>
</pre>

<%= link_to "Back", annotations_path %>
