<h1>Annotation</h1>
<p>
<strong>Url (@id):</strong>
<%= @annotation.url %>
</p>
<p>
<strong>Motivated By:</strong>
<%= @annotation.motivated_by.map{|m| link_to(m, m)}.join(", ").html_safe %>
</p>
<p>
<strong>Type:</strong>
<%= link_to @annotation.type, @annotation.type %>
</p>

<strong>Turtle:</strong>
<pre>
<%= @annotation.graph.dump(:ttl) %>
</pre>

<strong>JSON-LD (OpenAnnotation context):</strong>
<pre>
<%= @annotation.graph.dump(:jsonld, :context => "http://www.w3.org/ns/oa.jsonld") %>
</pre>


<strong>JSON-LD (IIIF context):</strong>
<pre>
<%= @annotation.graph.dump(:jsonld, :context => "http://iiif.io/api/presentation/2/context.json") %>
</pre>

<%= link_to "Back to List", annotations_path %>
