<h1>Annotation</h1>
<p>
<strong>Url (@id):</strong>
<%= @annotation.url %>
</p>
<p>
<strong>Target:</strong>
<%= @annotation.has_target.map{|t| link_to(t, t)}.join(", ").html_safe %>
</p>
<p>
<strong>Body (blank node with text):</strong>
<% if @annotation.has_body.size > 0 -%>
<%= @annotation.has_body.map{|b| "<pre>" + b + "</pre>"}.join.html_safe %>
<% else %>
(no body for this annotation)
<% end -%>
</p>
<p>
<strong>Motivated By:</strong>
<%= @annotation.motivated_by.map{|m| link_to(m, m)}.join(", ").html_safe %>
</p>
<p>
<strong>Type:</strong>
<%= link_to @annotation.type, @annotation.type %>
</p>

<strong>Turtle:</strong>
<pre>
<%= @annotation.graph.dump(:ttl) %>
</pre>

<%= link_to "Back to List", annotations_path %>
