<h1>Annotation</h1>
<p>
<strong>Url (@id):</strong>
<%= @annotation.id_as_url %>
</p>
<p>
<strong>Motivated By:</strong>
<%= @annotation.motivated_by.map{|m| link_to(m, m)}.join(", ").html_safe if @annotation.motivated_by %>
</p>
<p>

<strong>Turtle:</strong>
<pre>
<%= @annotation.graph.dump(:ttl) %>
</pre>

<strong>JSON-LD (OpenAnnotation context):</strong>
<pre>
<%= @annotation.jsonld_oa %>
</pre>

<strong>JSON-LD (IIIF context):</strong>
<pre>
<%= @annotation.jsonld_iiif %>
</pre>

<%= link_to "Back to List", annotations_path %>
